.canvas {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(30deg) scale(0.5);
    animation: rotateCanvas 60s infinite;
}

@keyframes rotateCanvas {
    0%   { transform: rotateX(60deg) rotateY(0deg) rotateZ(0deg) scale(0.5); }
    100% { transform: rotateX(60deg) rotateY(0deg) rotateZ(360deg) scale(0.5); }
  }