.wall {
    &--1 {
        background: #001942 url('Wall01.gif') center bottom no-repeat;
        background-size: 100% auto;
    }
    &--2 {
        background: #060a12 url('Wall02.gif') center bottom no-repeat;
        background-size: 100% auto;
    }
}