$sprite: 'Variation01Window.gif';
$bg-off: rgba(0,0,0,.3);

.window {
    background: transparent url($sprite) 0 -2rem no-repeat;
    background-size: 3rem 6rem !important;
    height: 2rem;
    width: 3rem;

    &--closed {
        background: $bg-off;
    }
    &--dimmed {
        background-position: 0 -2rem;
    }
    &--lighted {    
        background-position: 0 0;
    }
    &--blinking {
        &-1 {
            background: url($sprite) 0 0 no-repeat;
            background-color: transparent;
            background-image: url($sprite);
            background-size: 3rem 6rem !important;
            animation: blinking-1 60s infinite;
            animation-timing-function: linear; 
        }
        &-2 {
            background: url($sprite) 0 -2rem no-repeat;
            background-color: transparent;
            background-image: url($sprite);
            background-size: 3rem 6rem !important;
            animation: blinking-2 30s infinite;
            animation-timing-function: linear;      
        }
        &-3 {
            background: url($sprite) 0 0 no-repeat;
            background-color: transparent;
            background-image: url($sprite);
            background-size: 3rem 6rem !important;
            animation: blinking-1 90s infinite;
            animation-timing-function: linear;         
        }
    }
}

@mixin blinking-state-on () {
    background-color: transparent;
    background-image: url($sprite);       
}
@mixin blinking-state-off () {
    background-color: $bg-off;
    background-image: none;        
}

@keyframes blinking-1 {
    0% {
        @include blinking-state-on();
    }
    49% {
        @include blinking-state-on();
    }
    50% {
        @include blinking-state-off();
    }
    99% {
        @include blinking-state-off();
    }
    100% {
        @include blinking-state-on();
    }
}

@keyframes blinking-2 {
    0% {
        @include blinking-state-off();
    }
    33% {
        @include blinking-state-off();
    }
    34% {
        @include blinking-state-on();
    }
    99% {
        @include blinking-state-on();
    }
    100% {
        @include blinking-state-off();
    }
}

@keyframes blinking-3 {
    0% {
        @include blinking-state-off();
    }
    15% {
        @include blinking-state-off();
    }
    16% {
        @include blinking-state-on();
    }
    99% {
        @include blinking-state-on();
    }
    100% {
        @include blinking-state-off();
    }
}